body {
  background-color: #a3c2c2;
  text-align: center;
}

h1 {
  color: #004d99;
  font-size: 50px;
  text-align: center;
  font-family: fantasy, copperplate, sans-serif;
}

h2 {
  color: #004d99;
  text-align: center;
  font-family: fantasy, copperplate, sans-serif;
}

p {
	font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
  float: left;
}

a {
  display: inline;
  padding: 12px;
  background-color: #000066;
  color: white;;
}

a:hover, a:active {
  background-color: #00cccc;
}

